@import "~normalize.css";

$pageFirstColumn: 300px;
$regularFz: 14px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-columns: $pageFirstColumn 1fr;
  grid-template-rows: 75px 1fr;
  &.menuActive {
    & .menu {
      display: block;
    }
    & .main {
      grid-column: 2 / 3;
    }
  }
}

.header {
  background-color: red;
  grid-column: 1 / 3;
  padding: 30px 200px 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  &-info {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &-name {
    color: #fff;
    font-size: 20px;
  }
  &-picture {
    border: 2px solid orange;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-size: cover;
  }
}


.sign-in,
.sign-out {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.menu {
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-left: 35px;
  display: none;
  &:hover {
    .sidebar__add {
      opacity: 1;
    }
  }
  &__btn {
    border: 0;
    background-color: transparent;
    padding: 3px;
    cursor: pointer;
    img {
      display: block;
    }
  }
}

.filters {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
  &__item {
    border-radius: 10px;
  }
  &__item-btn {
    font-size: $regularFz;
    width: 100%;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 20px 10px 40px;
    text-align: left;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      left: 5px;
      width: 21px;
      height: 24px;
    }
    &.inbox::before {
      background-image: url("@images/inbox.svg");
    }
    &.today::before {
      background-image: url("@images/today.svg");
    }
    &.upcoming::before {
      background-image: url("@images/calendar_month.svg");
    }
  }
}

.filters__item.active,
.filters__item:hover,
.projects__item.active,
.projects__item:hover,
.sidebar__add:hover {
  background-color: #ecf0f1;
}

.count {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #bdc3c7;
  font-size: 13px;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px 10px;
  background-color: #f5f5f5;

  &__list,
  &__add {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
  &__list {
    font-size: $regularFz;
    font-weight: 700;
    padding-left: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 17px;
      height: 20px;
      transform: translateY(-50%);
      background-image: url("@images/arrow.svg");
    }
    &.active::before {
      transform: rotate(90deg);
      top: -5px;
    }
  }
  &__add {
    // opacity: 0;
    padding: 0px;
    height: 27px;
    width: 27px;
    img {
      width: 25px;
      height: 25px;
    }
  }
  &__popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.8);
    top: 0;
    left: 0;
    z-index: 1;
  }
  &__popup-body {
    min-height: 100%;
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__form {
    padding: 20px 20px 10px;
    background-color: #fff;
    border-radius: 10px;
  }
  &__form-title {
    margin: 0 -20px 30px;
    padding: 0 20px 20px;
    border-bottom: 1px solid #bdc3c7;
  }
  &__form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: $regularFz;
  }
  &__form-input {
    display: block;
    margin-bottom: 30px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    padding: 5px;
    width: 350px;
  }
  &__form-buttons {
    border-top: 1px solid #bdc3c7;
    padding: 20px 20px 0;
    margin: 0 -20px;
    text-align: right;
  }
  &__form-cancel {
    margin-right: 5px;
  }
}

.main__form-add,
.main__form-cancel,
.sidebar__form-add,
.sidebar__form-cancel {
  border-radius: 5px;
  padding: 7px 10px;
  font-size: $regularFz;
  font-weight: 500;
  cursor: pointer;
}
.main__form-add,
.sidebar__form-add {
  background-color: red;
  color: #fff;
  border: 0;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
.main__form-cancel,
.sidebar__form-cancel {
  background-color: transparent;
  border: 1px solid #bdc3c7;
  &:hover {
    background-color: #ecf0f1;
  }
}

.projects {
  list-style: none;
  margin: 0;
  padding: 0;
  &__item {
    cursor: pointer;
    position: relative;
    padding: 10px 5px 10px 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      background-color: #b2bec3;
      border-radius: 50%;
    }
    &:hover {
      .count {
        display: none;
      }
      .projects__item-delete {
        display: block;
      }
    }
  }
  &__item-delete {
    display: none;
    padding: 0;
    border: 0;
    background: transparent;
    width: 18px;
    height: 18px;
    cursor: pointer;
    svg {
      fill: #636e72;
      width: 17px;
      height: 17px;
    }
    &:hover {
      svg {
        fill: #000;
      }
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  grid-column: 1 / 3;
  &__inner {
    width: 900px;
    padding: 50px;
  }
  &__title {
    margin: 0 0 30px;
    font-size: 20px;
    font-weight: 700;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__list-item {
    position: relative;
    border-bottom: 1px solid #f5f5f5;
    padding: 10px;
    &:last-child {
      border-bottom: 0;
    }
  }
  &__add {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #636e72;
    font-size: $regularFz;
    &:hover {
      color: red;
      .icon {
        background-color: red;
        svg {
          fill: #fff;
        }
      }
    }
  }
  &__form-create {
    div {
      border: 1px solid #bdc3c7;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 10px;
    }
  }
  &__form-title,
  &__form-description {
    display: block;
    width: 100%;
    border: 0;
    font-size: $regularFz;
    line-height: 20px;
    &::placeholder {
      color: #bdc3c7;
    }
  }
  &__form-title {
    font-weight: 500;
    &::placeholder {
      font-weight: 500;
    }
  }
  &__form-description {
    resize: none;
  }
  &__form-date {
    border: 1px solid #bdc3c7;
    padding: 4px;
    border-radius: 4px;
  }
  &__form-add {
    margin-right: 10px;
  }
  &__item-heading {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }
  &__item-checkbox {
    background-color: transparent;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #bdc3c7;
    width: 18px;
    height: 18px;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 14px;
      height: 14px;
      display: none;
    }
    &:hover {
      background-color: #ecf0f1;
      svg {
        display: block;
      }
    }
  }
  &__item-title {
    font-size: $regularFz;
    margin: 0;
    font-weight: normal;
  }
  &__item-description {
    font-size: 12px;
    margin: 0 0 15px 26px;
    color: #95a5a6;
  }
  &__item-date {
    position: relative;
    margin: 0 20px 0 26px;
    font-size: $regularFz;
    &::after {
      content: "";
      position: absolute;
      right: -10px;
      height: 100%;
      width: 1px;
      background-color: #bdc3c7;
    }
    &.no-after:after {
      display: none;
    }
  }
  &__item-parent {
    font-size: $regularFz;
  }
}

.icon {
  margin-right: 10px;
  padding: 2px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
